<mat-toolbar class="footer" >
    <mat-grid-list cols="3" class="grid-list-class" rowHeight="200px">
        <mat-grid-tile>
            <div><h1 class="footer-title">Netflix</h1></div><br />
           
            
        </mat-grid-tile>
        <mat-grid-tile>
           
            <mat-list role="list">
                <mat-list-item role="listitem" class="footer-title-2">Support </mat-list-item>
                <mat-list-item role="listitem" class="footer-title-3">Contact us </mat-list-item>
                <mat-list-item role="listitem" class="footer-title-3">FAQ</mat-list-item>
                <mat-list-item role="listitem" class="footer-title-3">Downloads</mat-list-item>
                <mat-list-item role="listitem" class="footer-title-3">Locate a Dealer</mat-list-item>
                <mat-list-item role="listitem" class="footer-title-3">Product Registration</mat-list-item>
              </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-list role="list">
                <mat-list-item role="listitem" class="footer-title-2">Netflix </mat-list-item>
                <mat-list-item role="listitem" class="footer-title-3">About us </mat-list-item>
                <mat-list-item role="listitem" class="footer-title-3">Careers</mat-list-item>
                <mat-list-item role="listitem" class="footer-title-3">Newsroom</mat-list-item>
                <mat-list-item role="listitem" class="footer-title-3">Access</mat-list-item>

              </mat-list>
        </mat-grid-tile>
       
      </mat-grid-list>
  
    <mat-toolbar-row>
       <div class="toolbarcla"> <Span class="footer-title-4">@2020. All Right Reserved</Span></div>
    </mat-toolbar-row>
  
  </mat-toolbar>